*.o
*.exe
*.d
docs/doxygen
gtest
testing/Makefile
testing/Makefile.in

testing/aclocal.m4
testing/autom4te.cache
testing/config.h
testing/config.log
testing/config.status
testing/config.sub
testing/configure
testing/depcomp
testing/gtest-all.lo

testing/gtest_main.lo
testing/install-sh
testing/lib/
testing/libtool
testing/ltmain.sh
testing/missing
testing/stamp-h1

testing/.deps/
testing/.libs/
testing/config.guess
testing/test_*
!testing/test_*.cc
testing/config.h.in
*.aux
*.log
*.pdf
makefile.local
config.h
